@charset "utf-8";

/*top*/
header {height: 50px;
    background-color: rgb(45, 45, 167);}
header #top1 {float: left; margin-left: -15px; display:flex;
              color: white;}
header #top1 ul{list-style: none;}
header #top1 li{display: inline-block; margin: 0px 5px;}
header #top1 a{text-decoration: none; color: white;}
header #top1 a:hover{color: white;}

header #white{margin-left: -25px;}
header #white a{background-color: white; 
                color: rgb(45, 45, 167); 
                padding: 25px 10px;}
header #white a:hover{color: rgb(45, 45, 167);}
header #white ul{padding: 5px 5px;}

header #top_menu{margin-left: -25px;}


header #top2{float: right; margin-right: 330px;
         color: white;}
header #top2 ul{list-style: none;}
header #top2 li{display: inline-block; margin: 0px 5px;}
header #top2 a{text-decoration: none; color: white;}
header #top2 a:hover{color: white;}

header #icon{float: right;
         margin-top: 15px;
         margin-right: -755px;}

#search input:nth-of-type(1){float: right; 
 margin-top: 14px;
 margin-right: -935px;}

#search input:nth-of-type(2){float: right; 
                         margin-right: -925px; margin-top: 16px;}

/*top로고*/
nav{clear: both;
       text-align: center;
       margin-top: 20px;}
   nav #menu ul{list-style: none;}
   nav #menu ul a{color: black;}
   nav #menu ul a:hover{background-color: white; color: black;}
   nav #menu li{display: inline-block; margin: 0px 30px;}
   

/*푸터*/
footer{clear: both; text-align: center; margin-top: 90px;
       background-color: black; height: 300px;}
footer ul{list-style: none; margin-right: 150px;}
footer ul a{color: gray;}
footer li{display: inline-block; margin: 0px 10px;}
select{width: 200px; height: 30px; float: left;
       margin-top: -40px; margin-left: 1320px;}
footer #footer_top{padding: 5px;}
footer hr{border-color: gray}
footer #footer_logo{margin-top: 40px;}
footer p{color: gray; margin: 20px;}
#footer_logo2{margin-top: -150px; margin-left: 1140px;}
                    